# ============ Unity generated ============
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# ============ IDE / VS ============
.vs/
.idea/
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# ============ OS ============
.DS_Store
Thumbs.db
desktop.ini

# ============ Unity 临时同步文件（不上传）============
/Assets/~UnityDirMonSyncFile~*

# ============ Misc ============
*.log
crashlytics-build.properties
